header .header__content {
  padding: 20px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
header .header__content .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
header .header__content .logo > p {
  font-family: "Montserrat", sans-serif;
  color: #E4E5EA;
  font-weight: 300;
  font-size: 10px;
}
@media (max-width: 667px) {
  header .header__content .logo {
    display: none;
  }
}
header .header__content > nav > ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header__content > nav > ul > li > a {
  font-family: "Inter", sans-serif;
  color: #E4E5EA;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 414px) {
  header .header__content > nav > ul > li > a {
    font-size: 12px;
  }
}
@media (max-width: 414px) {
  header .header__content > nav > ul > li:last-child {
    display: none;
  }
}
header .header__content .contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header__content .contacts > span {
  font-family: "Inter", sans-serif;
  color: #E4E5EA;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 914px) {
  header .header__content .contacts {
    display: none;
  }
}
@media (max-width: 914px) {
  header .header__content {
    gap: 70px;
    justify-content: flex-start;
  }
}
@media (max-width: 667px) {
  header .header__content {
    padding: 20px 0;
    justify-content: center;
  }
}

main {
  margin-top: 100px;
}
main .content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
main .content__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #E4E5EA;
  max-width: 400px;
}
main .content__left > .title {
  font-size: 48px;
}
main .content__left > .title > h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
main .content__left > .title > p {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
@media (max-width: 414px) {
  main .content__left > .title {
    font-size: 36px;
  }
}
@media (max-width: 320px) {
  main .content__left > .title {
    font-size: 32px;
  }
}
main .content__left .subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
}
main .content__right {
  display: flex;
  flex-direction: column;
  gap: 60px;
  color: #E4E5EA;
  max-width: 320px;
  text-align: end;
}
main .content__right > p {
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 500;
}
main .content__right > p > span {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 320px) {
  main .content__right > p {
    font-size: 16px;
  }
}
main .content__right .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 30px;
}
main .content__right .grid-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .content__right .grid-element > h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
}
main .content__right .grid-element > p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 414px) {
  main .content__right .grid-element {
    display: none;
  }
}
main .content__right .get {
  cursor: pointer;
  background-color: #4077F3;
  border: 1px solid #4077F3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}
main .content__right .get > span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #E4E5EA;
}
@media (max-width: 414px) {
  main .content__right .get {
    display: none;
  }
}
main .content__right .grid-mobile {
  display: none;
}
@media (max-width: 414px) {
  main .content__right .grid-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main .content__right .grid-mobile > p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
  }
  main .content__right .grid-mobile > p::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 1px;
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    border: 1px solid;
    border-image-source: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    margin-right: 10px;
    margin-bottom: 5px;
  }
}
@media (max-width: 740px) {
  main .content__right {
    text-align: start;
    gap: 10px;
  }
}
@media (max-width: 414px) {
  main .content__right {
    max-width: 100%;
  }
}
@media (max-width: 740px) {
  main .content {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 414px) {
  main .content {
    gap: 40px;
  }
}
@media (max-width: 414px) {
  main {
    background: rgba(14, 16, 20, 0.2);
  }
}

footer {
  margin-top: 150px;
  z-index: 10000;
}
footer .content {
  display: flex;
  flex-direction: column;
  color: #E4E5EA;
  gap: 40px;
}
footer .content .flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .content .flex-element {
  font-family: "Inter", sans-serif;
  color: #656566;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
}
footer .content .flex-element > p {
  margin-bottom: 20px;
}
footer .content .flex-element li {
  margin-top: 7px;
}
footer .content .flex-element li > a {
  font-family: "Inter", sans-serif;
  color: #E4E5EA;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;
  text-transform: none;
}
@media (max-width: 414px) {
  footer .content .flex-element li > a {
    font-size: 14px;
  }
}
footer .content .flex-element span {
  font-family: "Inter", sans-serif;
  color: #E4E5EA;
  font-size: 16px;
  font-weight: 500;
}
footer .content .flex-element .social {
  align-self: flex-end;
  margin: 20px 0 20px;
}
footer .content .flex-element .social > img {
  margin-left: 10px;
}
@media (max-width: 540px) {
  footer .content .flex-element .social > img {
    margin-left: 0;
    margin-right: 10px;
  }
}
@media (max-width: 540px) {
  footer .content .flex-element .social {
    align-self: flex-start;
  }
}
footer .content .flex-element .address {
  margin-top: 20px;
  font-weight: 400;
  text-transform: none;
}
@media (max-width: 414px) {
  footer .content .flex-element .address {
    font-size: 14px;
  }
}
footer .content .flex-element:last-child {
  text-align: end;
}
@media (max-width: 540px) {
  footer .content .flex-element:last-child {
    text-align: start;
  }
}
footer .content .flex .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 540px) {
  footer .content .flex {
    flex-direction: column;
    gap: 40px;
  }
}
footer .content .confedentials {
  align-self: flex-end;
  text-align: end;
  cursor: pointer;
}
footer .content .confedentials > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
footer .content .confedentials > p:last-child {
  text-decoration: underline;
}
footer .content .confedentials > p:last-child > a {
  color: #E4E5EA;
}
@media (max-width: 540px) {
  footer .content .confedentials {
    text-align: start;
    align-self: flex-start;
  }
}
@media (max-width: 414px) {
  footer {
    margin-top: 80px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
}

html, body {
  min-height: 100%;
  max-width: 1440px;
  background-color: #0E1014;
  margin: 30px auto;
  overflow-x: hidden;
}
@media (max-width: 414px) {
  html, body {
    margin: 0;
  }
}

.wrapper {
  max-width: 100%;
  height: 100%;
}
.wrapper > .content {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1024px) {
  .wrapper > .content {
    margin: 30px;
  }
}
@media (max-width: 414px) {
  .wrapper > .content {
    margin: 10px;
  }
}

.linear-p {
  background: linear-gradient(45deg, #FCB045 33%, #FF3F78 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linear-span {
  background: linear-gradient(90deg, #FCB045 0%, #FD1D1D 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linear-span:last-child {
  background: linear-gradient(90deg, #FCB045 0%, rgb(252, 111, 51) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle-purple {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 28px;
  left: 788px;
  transform: translate(-50%, -50%);
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.2509803922);
  filter: blur(4px);
}
@media (max-width: 1024px) {
  .circle-purple {
    top: -7px;
    left: 680px;
  }
}
@media (max-width: 414px) {
  .circle-purple {
    top: 35%;
    left: 317px;
  }
}

.circle-red {
  position: absolute;
  border-radius: 50%;
  top: 85px;
  left: 490px;
  transform: translate(-50%, -50%);
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.2509803922);
  height: 80px;
  width: 80px;
}
@media (max-width: 1024px) {
  .circle-red {
    left: 395px;
  }
}
@media (max-width: 414px) {
  .circle-red {
    top: 49%;
    left: 37px;
    height: 60px;
    width: 60px;
    filter: blur(3px);
  }
}

.small {
  height: 28px;
  width: 28px;
  top: 580px;
  left: 700px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
  filter: blur(2px);
}
@media (max-width: 1024px) {
  .small {
    left: 585px;
  }
}
@media (max-width: 914px) {
  .small {
    display: none;
  }
}

.light-red {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: -90px;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(150, 26, 26, 0.2) 0%, rgba(14, 16, 20, 0) 70%);
  border-radius: 50%;
  z-index: 0;
}
@media (max-width: 414px) {
  .light-red {
    background: radial-gradient(circle, rgba(150, 26, 26, 0.2) 40%, rgba(14, 16, 20, 0) 70%);
    width: 450px;
    height: 450px;
    top: 36%;
    left: 60px;
  }
}

.light-purple {
  position: absolute;
  transform: translate(-50%, -50%);
  top: -80px;
  left: 660px;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(131, 58, 180, 0.3) 0%, rgba(14, 16, 20, 0) 70%);
  border-radius: 50%;
  z-index: 200;
}
@media (max-width: 414px) {
  .light-purple {
    top: 24%;
    left: 360px;
  }
}